# Data Types and Operators

##### Some few things to note
1. case sensitive
2. spacing
3. errors
4. print function
5. variable naming

In [ ]:
print(2)
print(24)

### Variables naming

Variable naming:

* Use small letters and underscores and numbers where necessary
* Use meaningful names
* Do not allow space (s) in variable names
* Do not begin variables with numbers
* Do not use numbers alone as variable names
* Do not use python reserved words as a variable name

learn more on the internet about variable naming

In [ ]:
students_names = ['Kelden','Dominic','Aurelia','Jessie','Jessica']

In [ ]:
students_names

In [ ]:
print(students_names)

In [ ]:
students_name = 'Samuel'

In [ ]:
Students_name = "Benard" # This wrong variable naming , the s shoudn't capitalized

In [ ]:
students_name

In [ ]:
Students_name

In [ ]:
x = 24+45+56+7+8+90+2
x/6
print(f"The  average mark is {x/5} ") #-----> this is string literals

In [ ]:
students_names = ['Ama','Teye','Kofi']
print(students_names)

#students names = ['Ama','Teye','Kofi'] #----> It is wrong to bring a space in a variable name

### Arithmetric Operators

|Operator||Action|
|----||----|
|+||addition|
|-||subtraction|
|*||multiplication|
|/|| divsion|
|\**||exponential|
|%||modulo|
|\//|| integer division|

In [ ]:
3+4

In [ ]:
50-4

In [ ]:
5*4

In [ ]:
5**3

In [ ]:
5^3 # note: the ^ sign does not mean exponential in python. Kindly use **

In [ ]:
print(5*3)
print(5**3)

In [ ]:
print(7/2)# division
print(7%2) # modulo
print(7//2)# integer division

### Assignment operators

Assignment operators
1. '='

2. 'operator='

eg: +=

In [ ]:
#Examples
x = 45
y = 50
z = 30

In [ ]:
x

In [ ]:
y

In [ ]:
z

In [ ]:
class_scores = [20,34,43,12,15]
print(class_scores)

In [ ]:
a,b,c = 13,55,29

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
x+2

In [ ]:
x

In [ ]:
print(x)
x = x+2
print(x)

In [ ]:
x

In [ ]:
#x=x+2

x+=2  # x+2 and assign it back to x. This the as writing x = x+2

In [ ]:
x

In [ ]:
s = 75

In [ ]:
s = s+5

In [ ]:
s

In [ ]:
s+=5

In [ ]:
s

In [ ]:
s*=3

In [ ]:
s

In [ ]:
x += 3
print(x)

In [ ]:
x*=2
print(x)

In [ ]:
x -= 10
print(x)

In [ ]:
num  = 79
print(num)

In [ ]:
num = num +10

In [ ]:
num += 10
print(num)

In [ ]:
sampson = 85

In [ ]:
sampson

In [ ]:
sampson+3

In [ ]:
sampson

In [ ]:
sampson+=3

In [ ]:
sampson

In [ ]:
a = 4

In [ ]:
a = a+2

In [ ]:
a

In [ ]:
a+=1

In [ ]:
a

In [ ]:
a+=1

In [ ]:
a

### Integers and floats

Integers: positive or negative whole numbers

Floats: decimals or floating points

In python, integers are represented by "int" and floats are represented by "float"

You can check the variable type using the in-built function "type()"

You can also change a variable from one type to the other.

In [ ]:
# Examples
age = 45                            
income = 578.64

In [ ]:
# use the type() function to check for variable type
print(type(age))
print(type(income))

In [ ]:
age_float = float(age) # float()
print(age_float)

In [ ]:
income_int = int(income)
print(income_int)
print(type(income_int))

### Booleans
* True (T)
* False (F)

Booleans are represented as  'bool' in python

Python assigns the value '1' and '0' to True and False respectively

In [ ]:
a = True + True + True + False

In [ ]:
a

### Comparison operators

|Operator||Meaning|
|----||----|
|<||less than|
|>||greater than|
|<=||less than or equals to|
|>=||greater than or equals to|
|==||equals to|
|!=|| not equals to|

### Logical Operators

|Operator||Action|
|----||----|
|and(&)||evaluates if both sides are True|
|or(\|)||evaluates if at least one side is True|
|not||inverses a boolean|

In [ ]:
# Examples
statement_1 = True

statement_2 = False

statement_1 or statement_2

In [ ]:
not(statement_1)

In [1]:
7 > 5

True

In [2]:
75.34 < 45.67<50 # False and  # True = False

False

In [3]:
75.34 < 45.67  and 45.67<50

False

In [ ]:
# Benard is a Banker and Benard is a male

# True                       True  = True

In [4]:
2>1 and 3<4    #True and True

True

In [ ]:
# Black Stars qualified for CAN 2008 or  Black Stars qualified the world cup (2008)
# False                                    False     = False

In [5]:
not(2>3)

True

In [6]:
3 < 5

True

###  'and' logical operator

In [7]:
7 > 5 and 3 < 5 # logical and operator yields true only and only if condition 1 and condition 2 yields true
                # other wise, it yieds false

True

In [8]:
7 < 5 and 3 < 5 #False and True

False

In [9]:
7 > 5 and 3 > 5 #True and False

False

In [10]:
7 == 5 and 3 > 5 # False and False

False

### 'or' operator

In [ ]:
# The or operator yields False only and only if condition 1 and condition 2 yields false
# other wise, it yieds True
# Check the examples below

In [11]:
#eg 1
100 <200 or 100 <50
# True    or   False = True

True

#### Explanation of eg 1

In [12]:

100 <200 # condition 1 yields True

True

In [13]:
100 <50 ## condition 2 yields False

False

Since condition 1 is True and condition 2 is False, the whole expression is True based on the or operator

In [14]:
#eg_2
100 <200 or 100 >50 # since both are true, the whole expression is true based on the or operator

True

In [15]:
#eg 3
100 >200 or 100 <50 # since both conditions are False, the whole expression is False based on the or operator

False

### not logical operator

In [16]:
not(100 >200 or 100 <50) # The not negates the boolean.It turns True to False and False to True

True

In [17]:
2<6

True

In [18]:
not(2<6)

False

In [19]:
6>10

False

In [20]:
not(6>10)

True

### more examples

In [21]:
x = 40+50+10
y = 120
print(x)
print(y)

100
120

In [22]:
z = (34+45+12)-30 *2
print(z)

31

In [23]:
print(x)
print(y)
print(z)

100
120
31

In [24]:
x == y and x < z
# left side = False
# right side  = False
#False

False

In [25]:
x < y and x < z 
# left side = True
#right side  = False
# False

False

In [26]:
x < y and x > z
# left side = True
#right side  = True
# True

True

In [27]:
x == y or x < z
# left side = False
#right side  = False
# False

False

In [28]:
x < y or x < z

True

In [29]:
x < y or x > z

True

### Strings

Strings are immutable ordered sequence of characters.

The characters could be letters,numbers,spaces,sentence and even symbols.

srings are indicated in python with  ' ' or " "

'str' also means string in python

### String operations

In [30]:
# Examples
sentence  = 'Solomon is a wise man'
print(sentence)
print(type(sentence))

Solomon is a wise man
<class 'str'>

In [31]:
string = '' # empty
print(string)
print(type(string))

<class 'str'>

In [32]:
a = "Daniel"

In [33]:
print(a)
print(type(a))

Daniel
<class 'str'>

In [34]:
x = "2#@$%#^7&"
print(x)
print(type(x))

2#@$%#^7&
<class 'str'>

In [43]:
print(a+" "+"is"+" "+"going"+" "+ "to"+" "+ "school")

Daniel is going to school

In [45]:
print(a+" " +"is going to school")

Daniel is going to school

In [47]:
b = "Benin"

#### String concatenation

In [48]:
a+b # concatenation

'DanielBenin'

In [49]:
string = "" #empty string

In [50]:
string+='John'

In [51]:
string

'John'

In [52]:
string+='Ama'

In [53]:
string

'JohnAma'

In [54]:
statement = "It's mine"
print(statement)

It's mine

In [55]:
stament_2 = 'Daniel said "he has gotten it"'

In [56]:
stament_2

'Daniel said "he has gotten it"'

In [57]:
h = 'Hello!'
w = 'world'

In [58]:
h+w

'Hello!world'

In [59]:
print(h)
print(w)
a = h + ' '+ w
print(a)

Hello!
world
Hello! world

In [60]:
a

'Hello! world'

#### String multiplication

In [61]:
"a"*3

'aaa'

In [62]:
print((h+w)*3)

Hello!worldHello!worldHello!world

In [63]:
print('-'*110)

--------------------------------------------------------------------------------------------------------------

### String indexing

In [65]:
j = 'Jemimah said"it\'s mine"'

In [66]:
j

'Jemimah said"it\'s mine"'

In [67]:
x = "Hello world"

In [68]:
x[0]

'H'

In [69]:
len(x)

11

In [70]:
x[0:3] #Note that python excludes upper boundries

'Hel'

In [71]:
x[2:6]

'llo '

In [72]:
x[0]

'H'

In [73]:
x[1]

'e'

In [74]:
x[7]

'o'

In [75]:
x[10]

'd'

In [76]:
x[-1]

'd'

In [77]:
x[-2]

'l'

In [78]:
x[::-1]

'dlrow olleH'

In [79]:
#string indexing
#Before doing indexing in python, note that python starts counting from zero not one



h[0]

'H'

In [80]:
h[1]

'e'

In [81]:
# Hello!

In [82]:
h[0:3] # note: indexing in python includes the first boundary and excludes the last buondary
       # so in this case, the thier 3rd index is excluded

'Hel'

In [87]:
h[:5]

'Hello'

In [88]:
h[1:4]

'ell'

In [89]:
h[-1] # using negative numbers in indexing starts from the end to the beginning

'!'

In [90]:
h[-2]

'o'

In [91]:
h[-3]

'l'

In [92]:
h[-3:5]

'lo'

In [93]:
h[-3:]

'lo!'

In [94]:
name = 'Sampson'

In [95]:
name[6]

'n'

In [96]:
name[-1]

'n'

In [97]:
name[-2]

'o'

### methods

In [98]:
x = "Hello world"

In [99]:
x.count('o')

2

In [100]:
x.count('l')

3

In [102]:
'2322437'.count('2')

3

In [103]:
print(x.islower())

False

In [104]:
x.isupper()

False

In [105]:
x.istitle()

False

In [106]:
x.islower() or x.isupper()

False

In [107]:
x.upper()

'HELLO WORLD'

In [109]:
x

'Hello world'

In [110]:
z = x.upper()

In [111]:
z

'HELLO WORLD'

In [112]:
print(w.isupper())

False

In [113]:
w.upper()

'WORLD'

In [114]:
w.title()

'World'

In [115]:
w.index('o')

1

In [116]:
sentence = 'There is a module called string that contains, among other things,...'

In [126]:
sentence.split(sep="m")

['There is a ', 'odule called string that contains, a', 'ong other things,...']

In [118]:
sentence.split(sep = ',')

['There is a module called string that contains', ' among other things', '...']

In [121]:
sentence.split()

['There',
 'is',
 'a',
 'module',
 'called',
 'string',
 'that',
 'contains,',
 'among',
 'other',
 'things,...']

In [123]:
statement_1 ="It's time for lunch"

In [124]:
statement_1

"It's time for breakfast"

In [125]:
statement_1.split(sep= "o")

["It's time f", 'r breakfast']

## String formatting

In [127]:
print('{} is a good {} but he can {}'.format('Henry','Man','be tricky'))

Henry is a good Man but he can be tricky

In [128]:
a = 23.60* 0.225

In [129]:
a

5.3100000000000005

In [130]:
print('The tip is {}'.format(a))

The tip is 5.3100000000000005

In [138]:
print('The tip is {:.2f}'.format(a))

The tip is 5.31

In [132]:
a = 23.60* 0.225

print('The tip is {:.3f}'.format(a))

The tip is 5.310

In [133]:
bill = 23.60
tip = 23.60*.25
total = bill+tip
print('Tip: ${:.2f}, Total: ${:.2f}'.format(tip, total))

Tip: $5.90, Total: $29.50

In [134]:
bill = 23.60
tip = 23.60*.25
total = bill+tip
print('Total: ${:.2f}, Tip: ${}'.format(tip,total))

Total: $5.90, Tip: $29.5

In [143]:
bill = 23.60
tip = 23.60*.25
total = bill+tip
print('Total: ${1:.2f}, Tip: ${0}'.format(tip,total))

Total: $29.50, Tip: $5.9

In [149]:
print('{:,d}'.format(100000000))

100,000,000

In [145]:
print('${:,d}'.format(5000))

$5,000

### The ^ ,<, > characters center, left and right-justify

In [150]:
print('{}'.format('Hi'))
print()
print('{:^100s}'.format('Hi'))
print()
print('{:^10s}'.format('there!'))

Hi

                                                 Hi

  there!

In [151]:
print('{:>10s}'.format('Hi'))
print('{:<10s}'.format('Hi'))
# s = white space

        Hi
Hi

In [152]:
print('{:^20s}'.format('Hi'))
print('{:^40s}'.format('there!'))
print('{:^60s}'.format('Hi'))
print('{:^80s}'.format('there!'))
print('{:^100s}'.format('Hi'))
print('{:^120s}'.format('there!'))

         Hi
                 there!
                             Hi
                                     there!
                                                 Hi
                                                         there!

### To learn about string formatting, just search for string formatting with python

## Input and output

In [153]:
input('Enter your name:')

Enter your name:Domenic

'Domenic'

In [154]:
name = input('Student  Name:')
print('{} is a nice name!'.format(name))

Student  Name:Dominic
Dominic is a nice name!

In [ ]:
float()
int()

In [155]:
input("Enter your height in meters  ")

Enter your height in meters  1.7

'1.7'

In [157]:
height = float(input("Enter your height in meters  "))

weight = float(input("Enter your weight in kg  "))
bmi = weight/height**2
print('Your hieght is {} meters and your weight is {} kg therefore your bmi is {:.2f}'.format(height,weight,bmi))

Enter your height in meters  1.7
Enter your weight in kg  60
Your hieght is 1.7 meters and your weight is 60.0 kg therefore your bmi is 20.76

## Control flow

In [ ]:
if, elif,else

### if

In [3]:
#demonstration with if
phone_balance = 10
momo_balance = 500

if phone_balance <= 5:    
    phone_balance += 10
    momo_balance -= 10
    
print(phone_balance)
print(momo_balance)

10
500

### if and else

In [5]:
#demonstration with if and else
phone_balance = 2
momo_balance = 500

if phone_balance <= 5:    
    phone_balance += 10
    momo_balance -= 10
    print(phone_balance)
    print(momo_balance)
    print('Congratulations!, you have sucessfully purchased 10 cedis credit')
else:
    print('Your current balance is greater than 5 cedis')

12
490
Congratulations!, you have sucessfully purchased 10 cedis credit

### Task 1
write a block of code that allows you to buy credit as input from your momo balance and print out:

1. the amount bought

2. the current credit balance

3. the current momobalance
(hint: you can include string formatting or string literals)

### Task 2

(a) Write a block of code that accepts Ghaha cedis as input and  converts it to US dollors.

(b) Write a block of code that accepts  US dollors as input and  converts it to Ghaha cedis.

### 3 Task 3

Modify the code below to accept age as input.

In [ ]:
age = 45

free_up_to_age = 4
child_up_to_age = 18
senior_from_age = 65

concession_ticket = 1.25
adult_ticket = 2.50

if age <= free_up_to_age:
    ticket_price = 0
elif age <= child_up_to_age:
    ticket_price = concession_ticket
elif age >= senior_from_age:
    ticket_price = concession_ticket
else:
    ticket_price = adult_ticket
message = 'You are {} years old so you will pay ${} to ride the bus.'.format(age,ticket_price)
print(message)

In [11]:
#Eg.2 demonstration with if and else
number = 4
if number % 2 == 0:
    print('Number'+' '+str(number)+' '+'is even.' )
else:
    print('Number'+' '+str(number)+' '+ 'is odd.')

Number 4 is even.

### if, elif, and else

In [13]:
#demonstration with if,elif and else
age = 45

free_up_to_age = 4
child_up_to_age = 18
senior_from_age = 65

concession_ticket = 1.25
adult_ticket = 2.50

if age <= free_up_to_age:
    ticket_price = 0
elif age <= child_up_to_age:
    ticket_price = concession_ticket
elif age >= senior_from_age:
    ticket_price = concession_ticket
else:
    ticket_price = adult_ticket
message = 'You are {} years old so you will pay ${} to ride the bus.'.format(age,ticket_price)
print(message)

You are 45 years old so you will pay $2.5 to ride the bus.

### Nested conditions

In [17]:
x = float(input("Enter a number for x: "))
y = float(input("Enter a number for y: "))

if x == y:
    print("x and y are equal")
    
    if y != 0:
        print("x/y is possible. x/y =",x/y)
    else:
        print("y = 0")  
        
elif x < y:
    print("x is smaller")
    
elif x > y:
    print("x is greater") 
print("Thanks")

Enter a number for x: 0
Enter a number for y: 0
x and y are equal
y = 0
Thanks